*{
    margin: 0; 
    padding: 0;
}
body{
    background-color: #ffffff; 
  
}
h1, h2{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
p{
    font-family: "Open Sans", sans-serif;
    margin-top: 20px;
    margin-bottom: 50px;

}
h4{
    font-family: "Poppins", sans-serif;
    color: #3E3E3E;
    font-size: 15px;
    text-align: left;
}
h3{
    font-family: "Poppins", sans-serif;
    text-align: left;
    font-size: 21px; 
    font-weight: 600;
}
h5{
    font-size: 18px;
    text-align: left;
    font-family: "Poppins", sans-serif;
}
h6{
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

header{
    background-color: #fcfcfc;
    width: 100%;
    padding-left: 30px;
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.2);
     box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.2);
     z-index: 5;
     position: absolute;
     
}
.nav-link {
    font-size: 19px;
    font-weight: 550;
    color: rgb(34, 34, 34);
    font-family: "Poppins", sans-serif;
    margin-right: 50px;
    transition: color .15sease-in-out, background-color .15sease-in-out, border-color .15sease-in-out;
}
.nav-link:hover {
    color: #808080;
}
.navbar-nav {
margin-left: 30px;
 
}

img{
    width: 120px;
    height: 50px;
}
img.d-block.w-100{
    width: 100%;
    height: 500px;
    margin-top: 60px;

}
.pesquisa{
    background-color: #E2E2E2;
    height: 30px;
    width: 100%;
    border: none;
    padding-left: 15px;
    font-family: "Poppins", sans-serif;
}
.container-pesquisa{
    flex-direction: row;
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 32px;
    flex-grow: 3;
    border-width: 1px;
    border-color: black;
    border-style:solid;
    flex-direction: row;
    display: flex;
    align-items: center;
    padding-left: 15px;
    background-color: #E2E2E2;
    margin-right: 6%;
}
.busca{
    width: 20px;
    height: 20px;
}
.container-icons{
   flex-direction: row;
   column-gap: 40px;
   display: flex;
   align-items: center;
}
ion-icon{
    color:  rgb(34, 34, 34);
}
ion-icon:hover {
    color: #808080;
}
main{
    justify-items: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    gap: 30px;
    font-family: "Poppins", sans-serif;   
}
section{
    margin-top: 50px;
}
.imagem-categoria{
    width: 200px;
    height: 250px;

}
.imagem-produtos{
    width: 340px;
    height: 440px;
}
.col{
    justify-items: center;
    margin-bottom: 60px;  
}

.container-cores-produtos{
    margin-top: 10px;
}

.row.row-cols-auto{
    justify-content: space-evenly;
    margin-top: 50px;
  
}
div.row.row-cols-4{
    display: flex;
    flex-wrap: wrap;

}

.cores-produtos{
    flex-direction: row;
    column-gap: 10px;
    display: flex;
}
.cor-produto1, .cor-produto2-p, .cor-produto2-s, .cor-produto2-t, 
.cor-produto2-q, .cor-produto3, .cor-produto4, .cor-produto5-p, .cor-produto5-s,
.cor-produto6-p,
.cor-produto6-s, .cor-produto6-t {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.cor-produto1{
    background-color: #4C2E30;
}
.cor-produto2-s{
    background-color: #53528F;
}
.cor-produto2-t{
    background-color: #FFFFFF;
}
.cor-produto2-q{
    background-color: #000000;
}
.cor-produto2-p{
    background-color: #D3D3D2;
}
.cor-produto3{
    background-color: #B7B8BA;
}
.cor-produto4{
    background-color: #4A212A;
}
.cor-produto5-p{
    background-color: #D1966E;
}
.cor-produto5-s{
    background-color: #9B6E5D;
}
.cor-produto6-p{
    background-color: #23334D;
}
.cor-produto6-s{
    background-color: #AEB195;
}
.cor-produto6-t{
    background-color: #AFBDD7;
}
#produtos, #categorias, #promocao{
    width: 100%;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-name: teste;
}
.banner-promocao{
    width: 100%;
    height: 620px;
    margin-bottom: 50px;
}
  .text-box {
  margin-top: 30px;
  margin-bottom: 60px;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 100px;
    transition: all .2s;
  
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #0f0f0f;
    color: #f7f7f7;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}
.back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #070606;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    align-items: center;
    justify-content: center;

}
footer{
    background-color: #0c0c0c;
    color: #f1f1f1;
    text-align: center;
    align-content: center;
    margin-top: 40px;
    padding-bottom: 20px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    flex-wrap: wrap;
}
.logo-footer{
    width: 150px;
    height: 60px;
}
.redes-sociais{
    display: flex;
    width: 130px;
    margin-top: 10px;
    justify-content: space-between;
}
.container-logo{
    display: flex;
    justify-items: center;
    flex-direction: column;
}
.instagram{
    height: 30px;
    width: 30px;
    background-color: #b4b4b4;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.contato-container{
    align-content: center;
    padding-top: 20px;
}
.pagamento-container{
   padding-top: 20px;
     
}
.imagem-pagamentos{
    width: 200px;
    height: 20px;
}


@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes teste {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0);
    }
  }
  

